<nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Diane's Paintings</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
                    <li class="nav-item">
                      <a <% if (page_name === 'index') { %>class="nav-link active" aria-current="page" <% } else { %>class="nav-link"<% } %> href="/">Welcome</a>
                    </li>
                    <li class="nav-item">
                      <a <% if (page_name === 'about') { %>class="nav-link active" aria-current="page" <% } else { %>class="nav-link"<% } %> href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a <% if (page_name === 'portfolio') { %>class="nav-link active" <% } else { %>class="nav-link<% } %> dropdown-toggle" href="/portfolio" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Portfolio
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/portfolio#figurative">Figurative</a></li>
                            <li><a class="dropdown-item" href="/portfolio#landscapes">Landscapes</a></li>
                            <!-- <li><hr class="dropdown-divider"></li> -->
                            <li><a class="dropdown-item" href="/portfolio#still">Still Life</a></li>
                            <li><a class="dropdown-item" href="/portfolio#other">Other Works</a></li>
                          </ul>
                    </li>
                    <li class="nav-item">
                        <a <% if (page_name === 'contact') { %>class="nav-link active" aria-current="page" <% } else { %>class="nav-link"<% } %> href="/contact">Contact</a>
                    </li>

                    
                    <% if (userID === 'admin') { %>
                        <li class="nav-item">
                            <a <% if (page_name === 'upload') { %>class="nav-link active" aria-current="page" <% } else { %>class="nav-link"<% } %> href="/upload">Upload</a>
                        </li>
                    <% } console.log('the user ID is ' + userID); %>

                    <% if (userID === 'admin') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% } %>
                            
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled">Disabled</a>
                    </li> -->
                  </ul>
                </div>
            </div>
        </nav>