    <%- include("partials/header.ejs") %>
    <body>
        <%- include("partials/nav.ejs") %>

        <div class="container">
          <div class = "row justify-content-center">
            <div class = "col-lg-6 text-center">
          
            <h1 class= "section-heading">About The Artist</h1>
          
            <p>LLorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum bibendum velit quis venenatis. Maecenas lorem est, lacinia eu mauris vitae, interdum bibendum nulla. Fusce id faucibus massa. Morbi ante justo, tempus id posuere quis, hendrerit eu enim. Quisque sed libero mollis, fringilla turpis nec, viverra tellus. Maecenas blandit dignissim diam, et interdum augue sodales sed. Praesent erat metus, convallis eu nulla sed, scelerisque consequat justo. Aenean vitae lacus aliquet, pulvinar nisi at, dapibus leo. Duis pulvinar sem eu ex convallis, vitae auctor massa imperdiet. Vivamus volutpat eu dui eget placerat. Suspendisse a felis ut enim eleifend mattis et id orci. Nullam quis consequat ex. Donec sed arcu ut nunc malesuada congue. Quisque in arcu finibus, commodo nisi ut, lobortis purus. Proin massa quam, feugiat a volutpat id, hendrerit nec libero.</p>
           </div>
          </div>
        </div>
    <%- include("partials/footer.ejs") %>
    </body>
    </html>