    <%- include("partials/header.ejs") %>
    <body>
        <%- include("partials/nav.ejs") %>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">About the Artist</h1>
                </div>
                <div class="col-lg-4">
                    <img src="/img/main/bio_pic.jpg" class="img-fluid w-100 shadow-1-strong rounded mb-4"" alt="Profile Picture">
                </div>
                <div class="col-md-8">
                    <p>
                        Diane Ohnemus is a longtime resident of South Orange County. After raising four children, she retired as a nurse and intensified her interest in creating art. She works in Conte crayon, watercolor and oil. She especially enjoys working in oil using expressive brushwork to capture the moment.             </p>
                    
                    <p>
                        She has studied art at Saddleback College with Lenny Scarola, Maria Kiernan, and taken workshops with David Leffel, Stacy Kamin, and Keiko Tanabe. Most recently, she has taken workshops with Plein Aire painters Kathleen Dunphy and Kathleen Hudson.
                    </p>

                    <p>
                        She is a member of Saddleback Art League, California Art Club, LPAPA, and is a docent at the Hilbert Museum in Orange. Especially drawn to portrait and figurative works, Diane seeks to go beyond capturing likeness to tell a story, winning several local awards for her most personal works.
                    </p>
                    
                    
                </div>
            </div>
        </div>
    <%- include("partials/footer.ejs") %>
    </body>
    </html>