    <%- include("partials/header.ejs") %>
    <body>
        <%- include("partials/nav.ejs") %>
        <div class="container contact-body">
          <div class= "row justify-content-center">
            <div class="col-lg-6 text-center">
            <h1  class= "section-heading">
              Contact the Artist
            </h1>
              <form action="/contact" method="post" class="contact-form">
                <div class="contformgroup">
                  <input
                     type="text"
                     class="contact-form-text"
                     placeholder="name"
                     name="name"
                     required
                     />
                </div>
                <div class="contformgroup">
                  <input
                     type="email"
                     class="contact-form-text"
                     placeholder="name@example.com"
                     name="email"
                     required
                     />
                </div>
                <div class="contformgroup">
                  <input
                     type="text"
                     class="contact-form-text"
                     name="subject"
                     placeholder="subject"
                     required
                     />
                </div>
                <div class="contformgroup">
                  <textarea
                     class="contact-form-message"
                     placeholder="message"
                     name="message"
                     ></textarea>
                </div>
                <div class="contformgroup">
                  <input
                     type="submit"
                     id="form-submit"
                     class="contact-form-btn"
                     value="Send"
                     required
                     />
                </div>
               </form>
                <br>
               <div class="sent">
                <p>
                  *A successfully sent message will redirect you to the Welcome page after the Send button has been clicked.*
                </p>
               </div>
                <br>
               <div class="unsent">
                <p>
                  **You will be redirected back to this page if your message is not sent correctly through this form. If this occurs, please email me at dohnemuseartemails@gmail.com instead, thank you.**
                </p>
               </div>
            </div>
          </div>
        </div>
        <%- include("partials/footer.ejs") %>
    </body>
    </html>