    <%- include("partials/header.ejs") %>
    <body>
        <%- include("partials/nav.ejs") %>

        <div class="container contact-body">
          <div class= "row justify-content-center">
            <div class="col-lg-6 text-center">
            <h1  class= "section-heading">
              Contact The Artist
            </h1>
              <form class = "test-form">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Test Form</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Test Form</label>
                  <select class="form-control" id="exampleFormControlSelect1">
 
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Test Form</label>
                  <select multiple class="form-control" id="exampleFormControlSelect2">
     
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Test Form</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </form>
            <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScVwEjjjcnlvtfzUMHMOA9RVMFgF2yTBh5dfBErLhkCrMOOSA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
            </div>
          </div>
        </div>
    <%- include("partials/footer.ejs") %>
    </body>
    </html>