<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>

    <div class="container index-body">
      <div class= "row justify-content-center">
        <div class="col-lg-6 text-center">
            <h1>Welcome</h1>
            <h1 class ="quotes"><q>Art - The Great Escape</q></h1>
            <img src="/img/main/welcome_painting.jpg" class="img-fluid w-100 shadow-1-strong rounded mb-4"" alt="Welcome Painting">
            <p>How great it is to be able to wake up every morning looking forward to the colors of the day and hope to capture some of the essence of a particular moment in time through atmosphere, expression or composition.</p>
            <p>I am a painter inspired by the natural world and the people that inhabit it. My paintings celebrate color, emotions and connections.</p>
            <p id="welcomelinks"><b>Welcome to my website!</b> Please make yourself at home and feel free to browse <a href="/portfolio">my portfolio</a>. Also, I'd love to hear from you, so feel free to <a href="/contact">contact me</a> and I'd be happy to connect with you.</p>
        </div>
      </div>
    </div>
<%- include("partials/footer.ejs") %>
</body>
</html>