    <%- include("partials/header.ejs") %>
    <body>
        <%- include("partials/nav.ejs") %>

        <div class="container-fluid">
            <div class="row">
                <h1>Figurative</h1>
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img
                      src="/img/img1.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                    
                    <img
                      src="/img/img2.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>
                    
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                      src="img/img3.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                    
                    <img
                      src="img/img4.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>
                    
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                      src="img/img5.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                    
                    <img
                      src="img/img6.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>
            </div>

            
            <div class="row">
                <h1>Scapes</h1>
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img
                      src="/img/img7.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />

                    <img
                      src="/img/img8.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                      src="img/img9.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />

                    <img
                      src="img/img10.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                      src="img/img11.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />

                    <img
                      src="img/img12.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>
            </div>

            
            <div class="row">
                <h1>Still Life</h1>
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img
                      src="/img/img13.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />

                    <img
                      src="/img/img14.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                      src="img/img15.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />

                    <img
                      src="img/img16.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                      src="img/img17.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />

                    <img
                      src="img/img18.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>
            </div>


            <div class="row">
                <h1>Other Works</h1>
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img
                      src="/img/img19.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />

                    <img
                      src="/img/img20.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img
                      src="img/img21.jpg"
                      class="w-100 shadow-1-strong rounded mb-4"
                    />
                </div>
            </div>
            
        </div>
    <%- include("partials/footer.ejs") %>
    </body>
    </html>