<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>
    <div class="container">
      <div class= "row justify-content-center">
        <div class="col-lg-6 text-center">
        <h1  class= "section-heading">
          You do not have access to that page!
        </h1>
          
            <br>
        </div>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>