<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>

    <div class="container upload-body">
      <div class= "row justify-content-center">
        <div class="col-lg-6 text-center">
          <h1 class= "section-heading">
          Upload
          </h1>
          <p>Complete to add new images</p>

      <!DOCTYPE html>
      <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form group">
          <input type="text" placeholder="Enter Painting Name" name="name" />
         <br><br>

          <input type="text" placeholder="Enter Painting Dimensions"  name="dimensions" />
         <br><br>

        <select name="classification">
         <option disabled selected value> -- Select a classification</option>
         <option value="Figurative">Figurative</option>
         <option value="Scapes">Scapes</option>
         <option value="Scapes">Plein Air</option>
         <option value="Still">Still Life</option>
         <option value="Other">Other</option>
        </select>
        <br><br>

        <select name="type">
         <option disabled selected value> -- Select a media type</option>
         <option value="Watercolor">Watercolor</option>
         <option value="Oil">Oil</option>
         <option value="Conte Crayon">Conte Crayon</option>
         <option value="Charcoal">Charcoal</option>
         <option value="Gouache">Gouache</option>
        </select>
        <br><br>
        
        <input type="radio" name="available" value="1">
        <label for="avail">Available</label>

        <input type="radio" name="available" value="0">
        <label for="not-avail">Sold</label>
        <br>  <br>  
          <input type="file" name="image" />
          <button type="submit" class = "btn btn-dark">Upload</button>
        <br><br>

        
      </div>
        
      </form>
            <br>  
            <% if (typeof uploadError!= "undefined" && uploadError) { %>
                <div class="unsent">
                    <h3 class="error">Image failed to upload</h3>
                </div>
                <% } else if (typeof uploadError != "undefined" && !uploadError) { %>
                <div class="sent">
                   <h3 class="success"> Image was successfully Uploaded!</h3>
                </div>
               <% } %>

        </div>
      </div>
    </div>
<%- include("partials/footer.ejs") %>
</body>
</html>