<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>

    <div class="container">
        <h1>Upload Page</h1>
        <p>Upload new pictures to the gallery using the form below</p>

      <!DOCTYPE html>
      <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="file" name="image" />
          <button type="submit">Upload</button>
      </form>

    </div>
<%- include("partials/footer.ejs") %>
</body>
</html>