<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>

    <div class="container upload-body">
      <div class= "row justify-content-center">
        <div class="col-lg-6 text-center">
          <h1 class= "section-heading">
          Upload
          </h1>
          <p>Click below to add new images</p>

      <!DOCTYPE html>
      <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form group">
          <input type="file" name="image" />
          <button type="submit" class = "btn btn-dark">Upload</button>
      </div>
      </form>
        </div>
      </div>
    </div>
<%- include("partials/footer.ejs") %>
</body>
</html>