<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>

    <div class="container upload-body">
      <div class= "row justify-content-center">
        <div class="col-lg-6 text-center">
          <h1 class= "section-heading">
          Upload
          </h1>
          <p>Completee to add new images</p>

      <!DOCTYPE html>
      <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form group">
          <input type="text" placeholder="Enter Painting Name" name="name" />
         <br><br>

          <input type="text" placeholder="Enter painting dimensions"  name="dimensions" />
         <br><br>

        <select name="type">
         <option disabled selected value> -- Select a painting type</option>
         <option value="Figurative">Figurative</option>
         <option value="Landscapes">Landscapes</option>
         <option value="Still">Still Life</option>
         <option value="Other">Other</option>
        </select>
        <br><br>
        <input type="radio" name="available" value="Yes">
        <label for="avail">Available</label>

        <input type="radio" name="available" value="No">
        <label for="not-avail">Unavailable</label>
        <br>  <br>  
          <input type="file" name="image" />
          <button type="submit" class = "btn btn-dark">Upload</button>
        <br><br>

        
      </div>


        
      </form>
            <br>  

        </div>
      </div>
    </div>
<%- include("partials/footer.ejs") %>
</body>
</html>