:root {
  --bs-body-bg: var(--bs-gray-100);
}

/*----------------------------------------
    BODY
----------------------------------------*/

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 32px;
    font-size: 2em;
    margin: 0.67em 0;
    font-family: 'Cinzel', serif;
    font-weight: normal;
    line-height: normal;
}

.quotes {
    font-family: 'Ephesis', cursive;
}

.upload-body{
  padding: 20px 10px;

}

contact-body {
  padding: 20px 10px;
}
.section-heading {

}

/*----------------------------------------
    NAV
----------------------------------------*/

.navbar-nav a, .navbar-brand {
    font-family: 'Cinzel', serif;
    font-weight: 500;
}

.navbar-expand-lg {
    background-color: white;
}

/* sticky rules */
.sticky-wrapper.is-sticky .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ccc;
}

.sticky-wrapper {
    top: 0;
    right: 0;
    left: 0;
}



/* Hide the dropdown menu in the collapsed navigation state */
@media (max-width: 1279px) {
    .navbar-nav .nav-item.dropdown .dropdown-menu {
        display: none;
    }
}

/* Set initial styles for the dropdown menu */
.navbar-nav .nav-item.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform 0.3s, opacity 0.3s;
}

/* Expand the dropdown on hover (only for screens wider than 1000px) */
@media (min-width: 1000px) {
    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        transform: scaleY(1);
        opacity: 1;
    }
}

/* Reset the dropdown behavior for screens smaller than your specified breakpoint */
@media (max-width: 999px) {
    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        transform: scaleY(1);
    }
}

/* Style the dropdown items on hover */
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #333;
    color: white;
}

/* Override the space reserved for the dropdown menu in collapsed state */
@media (max-width: 999px) {
    .navbar-nav .nav-item.dropdown {
        margin-bottom: 0; /* Remove any bottom margin */
        position: static; /* Change the position property to static */
    }

    .navbar-nav .nav-item.dropdown .dropdown-menu {
        display: none; /* Hide the dropdown menu in collapsed state */
    }
}

/*---------------------------------------
  WELCOME               
-----------------------------------------*/
#welcomelinks a {
    color: goldenrod;
    font-style: italic;
    font-size: 16px;
    text-decoration: none;
}

#welcomelinks a:hover {
    color: darkgoldenrod;
    font-style: normal;
    font-size: 16px;
    text-decoration: underline;

}

/*----------------------------------------
    PORTFOLIO
----------------------------------------*/

/* format image view to all squares */
.portfolio-body img {
    width: 150px; /* Set the desired size for your square images */
    height: 150px;
    object-fit: cover; /* Crop to the center while maintaining aspect ratio */
    margin: 5px; /* Add some spacing between images */
    border-radius: 5%;
}

.classification {
    text-align: left;
}

.section {
    text-align: center;
}

.section a {
    text-decoration: none; /* Remove blue dashes from in between pictures */
}


/*----------------------------------------
    PAINTINGS
----------------------------------------*/

.painting_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.painting_table table, th, td {
  border: 1px solid #ddd;
}

.painting_table th, td {
  padding: 10px;
  text-align: left;
}

.painting_table th {
  background-color: #f2f2f2;
}

.painting_table form {
  display: flex;
  align-items: center;
}

.painting_table input, select, button {
  margin: 5px;
}

/* Add the following CSS to your existing styles or in the head section of your HTML */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 400px;
  max-height: 54%; /* Set maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Align labels to the left */
}

/* Override styles for form within the modal */
.modal form {
  display: block; /* Use block instead of flex */
}

/* Override styles for input, select, and button within the modal */
.modal input,
.modal select,
.modal button {
  width: calc(100% - 20px); /* Adjust the width based on your preference */
  margin: 5px 0; /* Adjust the margin as needed */
  box-sizing: border-box;
}

.modal-buttons {
  margin-top: 15px; /* Adjust the margin as needed */
  text-align: center;
}

.modal button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Remove the close (x) button at the top */
.modal .close {
  display: none;
}

.modal-content {
  max-width: 80%; /* Set a maximum width for the content */
  width: auto; /* Allow the width to adjust based on content */
  max-height: 80vh; /* Set a maximum height for the content */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
}

.availability-options {
  display: flex;
  align-items: center;
}

.availability-options label {
  margin-right: 10px; /* Adjust as needed to provide spacing between label and radio button */
}

/*----------------------------------------
    CONTACT
----------------------------------------*/

input[type=text], [type=email], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Styles the submit button */
input[type=submit] {
  background-color: #ccc;
  color: black;
  padding: 10px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, changes color */
input[type=submit]:hover {
  background-color: #f2f2f2;
}

.sent {
  color: green;
}

.unsent {
  color: red;
}

/*----------------------------------------
    FOOTER
----------------------------------------*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: white;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
}

body {
    margin-bottom: 50px;
}

.socials img {
    width: 25px;
    height: 25px;
    margin: 1px;
}