:root {
  --bs-body-bg: var(--bs-gray-100);
}

/*----------------------------------------
    BODY
----------------------------------------*/

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 32px;
    font-size: 2em;
    margin: 0.67em 0;
    font-family: 'Cinzel', serif;
    font-weight: normal;
    line-height: normal;
}

.quotes {
    font-family: 'Ephesis', cursive;
}

.upload-body{
  padding: 20px 10px;

}

contact-body {
  padding: 20px 10px;
}
.section-heading {

}

/*----------------------------------------
    NAV
----------------------------------------*/

.navbar-nav a, .navbar-brand {
    font-family: 'Cinzel', serif;
    font-weight: 500;
}

.navbar-expand-lg {
    background-color: white;
}

/* sticky rules */
.sticky-wrapper.is-sticky .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ccc;
}

.sticky-wrapper {
    top: 0;
    right: 0;
    left: 0;
}



/* Hide the dropdown menu in the collapsed navigation state */
@media (max-width: 1279px) {
    .navbar-nav .nav-item.dropdown .dropdown-menu {
        display: none;
    }
}

/* Set initial styles for the dropdown menu */
.navbar-nav .nav-item.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform 0.3s, opacity 0.3s;
}

/* Expand the dropdown on hover (only for screens wider than 1000px) */
@media (min-width: 1000px) {
    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        transform: scaleY(1);
        opacity: 1;
    }
}

/* Reset the dropdown behavior for screens smaller than your specified breakpoint */
@media (max-width: 999px) {
    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        transform: scaleY(1);
    }
}

/* Style the dropdown items on hover */
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #333;
    color: white;
}

/* Override the space reserved for the dropdown menu in collapsed state */
@media (max-width: 999px) {
    .navbar-nav .nav-item.dropdown {
        margin-bottom: 0; /* Remove any bottom margin */
        position: static; /* Change the position property to static */
    }

    .navbar-nav .nav-item.dropdown .dropdown-menu {
        display: none; /* Hide the dropdown menu in collapsed state */
    }
}

/*---------------------------------------
  WELCOME               
-----------------------------------------*/
#welcomelinks a {
    color: goldenrod;
    font-style: italic;
    font-size: 16px;
    text-decoration: none;
}

#welcomelinks a:hover {
    color: darkgoldenrod;
    font-style: normal;
    font-size: 16px;
    text-decoration: underline;

}

/*----------------------------------------
    PORTFOLIO
----------------------------------------*/

/* format image view to all squares */
.portfolio-body img {
    width: 150px; /* Set the desired size for your square images */
    height: 150px;
    object-fit: cover; /* Crop to the center while maintaining aspect ratio */
    margin: 5px; /* Add some spacing between images */
    border-radius: 5%;
}

.classification {
    text-align: left;
}

.section {
    text-align: center;
}

.section a {
    text-decoration: none; /* Remove blue dashes from in between pictures */
}

/*----------------------------------------
    CONTACT
----------------------------------------*/

input[type=text], [type=email], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Styles the submit button */
input[type=submit] {
  background-color: #ccc;
  color: black;
  padding: 10px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, changes color */
input[type=submit]:hover {
  background-color: #f2f2f2;
}

.sent {
  color: green;
}

.unsent {
  color: red;
}

/*----------------------------------------
    FOOTER
----------------------------------------*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: white;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
}

body {
    margin-bottom: 50px;
}

.socials img {
    width: 25px;
    height: 25px;
    margin: 1px;
}